[build]
  publish = "public"
  
[[redirects]]
  from = "/socket.io/*"
  to = "https://YOUR_RAILWAY_URL/socket.io/:splat"
  status = 200
  force = true

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200

